input{
    font-family: 'Raleway', sans-serif;
}
.contact-form{
    border: 1px dotted rgba(98, 218, 251, 0.85);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 11% 75% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "message-sent message-sent message-sent"
    "name-label name-input name-input"
    "email-label email-input email-input"
    "body-label body-teaxt-area body-teaxt-area"
    ". . submit-dang";
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    font-size: 1.1rem;
}

.message-sent{
    grid-area: message-sent;
    margin-bottom: 0.5%;
}

.styling-labels{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgba(31, 35, 42, 0.45);
    background-color: rgba(98, 218, 251, 0.85);
    color: rgba(31, 35, 42, 1);
    font-size: 1rem;
    height: 30px;
}

.error-styling-labels{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgba(194, 207, 255, 0.45);
    background-color: rgba(145, 0, 58, 0.85);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    height: 30px;
}

.styling-inputs-text{
    height: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgba(31, 35, 42, 0.45);
}

.styling-text-area{
    height: 60px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgba(31, 35, 42, 0.45);
}

.error-styling-inputs-text{
    height: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px double rgba(145, 0, 58, 0.85);
}

.error-styling-text-area{
    height: 60px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px double rgba(145, 0, 58, 0.85);
}

.message-top{
    display: inline-block;
    padding: 1rem;
    border-radius: 3px;
    background-color: rgba(40, 89, 0, 0.75);
    color: rgb(255, 255, 255);
    width: 100%;
}

.name-label{
    grid-area: name-label;
}

.name-input{
    grid-area: name-input;
    margin-bottom: 10px;
}

.email-label{
    grid-area: email-label;
}

.email-input{
    grid-area: email-input;
    margin-bottom: 10px;
}

.body-label{
    grid-area:body-label;
}

.body-text-area{
    grid-area: body-teaxt-area;
    margin-bottom: 10px;
}

.submit-dang{
    grid-area: submit-dang;
}
