.footer{
    backdrop-filter: blur(4px);
    margin-top: 1.5%;
}

.footer > div{
    padding: 0.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.footer > div #github{
    margin-left: 15px;
    flex: 1 1 available;
}

.footer > div #npmjs{
    margin-left: 15px;
    flex: 1 1 auto;
}
